In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
# Data Quarter 1 start
quarter_1_first_day_start =  pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()
quarter_1_first_day_end = pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()

# Data Quarter 1 end
quarter_1_last_day_start = pd.Timestamp("2021-03-31", tz="America/New_York").isoformat()
quarter_1_last_day_end = pd.Timestamp("2021-03-31", tz="America/New_York").isoformat()

In [6]:
# Data Quarter 2 start 
quarter_2_first_day_start = pd.Timestamp("2021-04-01", tz="America/New_York").isoformat()
quarter_2_first_day_end = pd.Timestamp("2021-04-01", tz="America/New_York").isoformat()

# Data Quarter 1 end
quarter_2_last_day_start = pd.Timestamp("2021-06-30", tz="America/New_York").isoformat()
quarter_2_last_day_end = pd.Timestamp("2021-06-30", tz="America/New_York").isoformat()

In [7]:
# Data Quarter 3 start 
quarter_3_first_day_start = pd.Timestamp("2021-07-01", tz="America/New_York").isoformat()
quarter_3_first_day_end = pd.Timestamp("2021-07-01", tz="America/New_York").isoformat()

# Data Quarter 3 end
quarter_3_last_day_start = pd.Timestamp("2021-9-30", tz="America/New_York").isoformat()
quarter_3_last_day_end = pd.Timestamp("2021-09-30", tz="America/New_York").isoformat()

In [8]:
# Data Quarter 4 start 
quarter_4_first_day_start = pd.Timestamp("2021-10-01", tz="America/New_York").isoformat()
quarter_4_first_day_end = pd.Timestamp("2021-10-01", tz="America/New_York").isoformat()

# Data Quarter 4 end
quarter_4_last_day_start = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()
quarter_4_last_day_end = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()

In [9]:
quarter_1_first_day_start =  pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()
quarter_4_last_day_end = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()

In [10]:
tokens = ['BTC','ETH','BNB','XRP','USDT','ADA','DOT','UNI','LTC','LINK','XLM','BCH',
        'THETA,FIL,USDC,TRX,DOGE,WBTC,VET,SOL,KLAY,EOS,XMR,LUNA',
        'MIOTA,BTT,CRO,BUSD,FTT,AAVE,BSV,XTZ,ATOM,NEO,AVAX,ALGO',
        'CAKE,HT,EGLD,XEM,KSM,BTCB,DAI,HOT,CHZ,DASH,HBAR,RUNE,MKR,ZEC',
        'ENJ,DCR,MKR,ETC,GRT,COMP,STX,NEAR,SNX,ZIL,BAT,LEO,SUSHI',
        'MATIC,BTG,NEXO,TFUEL,ZRX,UST,CEL,MANA,YFI,UMA,WAVES,RVN',
        'ONT,ICX,QTUM,ONE,KCS,OMG,FLOW,OKB,BNT,HNT,SC,DGB,RSR,DENT',
        'ANKR,REV,NPXS,VGX,FTM,CHSB,REN,IOST,CELO,CFX']

In [11]:
timeframe = '1Day'

In [12]:
# Get current closing prices for FB and TWTR
df_portfolio = alpaca.get_bars(
    tokens,
    timeframe,
    start = quarter_1_first_day_start,
    end = quarter_4_first_day_start
).df

display(df_portfolio.head())
display(df_portfolio.tail())

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2021-01-04 05:00:00+00:00,16.49,17.13,15.3701,15.90,635746,5032,16.331618,ATOM
2021-01-05 05:00:00+00:00,19.38,24.69,18.1100,21.82,7768304,49662,22.102058,ATOM
2021-01-06 05:00:00+00:00,22.47,24.96,21.9100,22.97,2473748,17344,23.294551,ATOM
2021-01-07 05:00:00+00:00,23.69,27.80,23.6000,27.42,1729258,13165,26.272101,ATOM
2021-01-08 05:00:00+00:00,27.80,30.42,24.5500,27.44,1954678,15682,27.737852,ATOM

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2021-09-27 04:00:00+00:00,8.81,9.160,8.700,9.08,3593178,17385,9.041959,VET
2021-09-28 04:00:00+00:00,9.25,9.435,8.900,9.16,3880612,16264,9.146211,VET
2021-09-29 04:00:00+00:00,9.10,10.050,8.985,9.97,5294627,20546,9.698578,VET
2021-09-30 04:00:00+00:00,9.86,9.998,9.550,9.90,3674342,16530,9.802160,VET
2021-10-01 04:00:00+00:00,9.99,10.470,9.950,10.24,4883638,17910,10.261490,VET

In [13]:
symbol= df_portfolio['symbol']

symbol = df_portfolio['symbol'].reset_index()

In [15]:
symbol

                     timestamp symbol
0    2021-01-04 05:00:00+00:00   ATOM
1    2021-01-05 05:00:00+00:00   ATOM
2    2021-01-06 05:00:00+00:00   ATOM
3    2021-01-07 05:00:00+00:00   ATOM
4    2021-01-08 05:00:00+00:00   ATOM
...                        ...    ...
5801 2021-09-27 04:00:00+00:00    VET
5802 2021-09-28 04:00:00+00:00    VET
5803 2021-09-29 04:00:00+00:00    VET
5804 2021-09-30 04:00:00+00:00    VET
5805 2021-10-01 04:00:00+00:00    VET

[5806 rows x 2 columns]

In [18]:
symbol = df_portfolio.drop(columns='timestamp',axis=1)

KeyError: "['timestamp'] not found in axis"

In [ ]:

df_portfolio = df_portfolio.reindex('symbol')